@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import '~node_modules/bootstrap/scss/bootstrap';
@import '~node_modules/bootstrap-icons/font/bootstrap-icons';
@import './variables';
@import './mixins';

* {
  font-family: 'Lato', sans-serif;

  &:not(html, body) {
    &::-webkit-scrollbar {
      width: 10px;
      border-radius: 100px;
      background-color: $gray-l;
    }
    
    &::-webkit-scrollbar-thumb {
      width: 10px;
      border-radius: 100px;
      background-color: $gray;
    }
  }
}

// Colors
@each $name, $value in $colors {
  .color-#{$name} {
    color: $value !important;
    fill: $value !important;
  }
}
// END

// Backgrounds
@each $name, $value in $colors {
  .bg-#{$name} {
    background-color: $value !important;
  }
}
// END

// Icons
.icons {
  transition: all .2s ease-in-out;

  @each $name, $value in $icons {
    &.icon-#{$name} {
      width: $value !important;
      height: $value !important;
    }
  }

  & > img, 
  & > svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@each $name, $value in $icons {
  .ion-#{$name} {
    font-size: $value !important;
    transition: all .2s ease-in-out;
  }
}
// END

// Typography
.heading {
  margin: 0;

  &__primary {
    font: {
      size: 30px;
      weight: 600;
    }
  }

  &__secondary {
    font: {
      size: 25px;
      weight: 600;
    }
  }
  
  &__tertiary {
    font: {
      size: 20px;
      weight: 600;
    }
  }
}

.fs {
  margin: 0;

  &__lg { font-size: 40px; }
  &__md { font-size: 18px; }
  &__base { font-size: 16px; }
  &__sm { font-size: 13px; }
  &__xsm { font-size: 11px; }
}

@each $name, $value in $weights {
  .fw-#{$name} {
    font-weight: $value !important;
  }
}
// END

// Buttons
.btn {
  &:focus {
    box-shadow: none !important;
  }

  &__primary {
    @include flexAlign(center, center, row, inline-flex);
    height: 40px;
    min-width: 100px;
    padding: 0;
    background-color: $dark;
    color: #fff !important;
    font: {
      size: 15px;
      weight: 500;
    }
  }

  &__action {
    @include flexAlign(center, center, row, inline-flex);
    border: 1px solid $gray;
    padding: 0;
    height: 35px;
    min-width: 35px;

    &.blue {
      border: 1px solid $blue;
      background-color: $blue;
      color: #fff;
    }
  }
}
// END

main.main {
  min-height: 100vh;
  background-color: #000;
}