@import '/src/styles/variables';
@import '/src/styles/mixins';

.pizza-card {
  padding: 15px;
  border-radius: 15px;

  &__thumb {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}