@import '/src/styles/variables';
@import '/src/styles/mixins';

.cart-preview {
  @include flexAlign(center, null);
  position: fixed;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 768px;
  width: calc(100% - 30px);
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  transition: all .2s ease-in-out;
  z-index: 100;

  &.active {
    bottom: 30px;
  }
}

.cart-preview-products {
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 100px;
  width: 100%;
  height: 0;
  background-color: #fff;
  border-radius: 10px;
  transition: all .2s ease-in-out;
  z-index: -1;

  &.active {
    height: 200px;
  }

  &__head {
    position: relative;
    @include flexAlign(center, space-between);
    padding: 15px 20px;
    border-bottom: 1px solid $gray;
  }

  &__body {
    width: 100%;
    max-height: calc(100% - 55px);
    padding: 15px 20px;
    overflow: auto;
  }

  &__item {
    @include flexAlign(center, space-between);

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__productDetails {
    @include flexAlign(center, null);
  }

  &__thumb {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__productPriceDetails {
    max-width: 100px;
    text-align: right;
  }
}

.close {
  @include flexAlign(center, center);
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  padding: 0;
}

.rotate {
  transform: rotate(180deg);
}

